<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IoT Dashboard</title>
    <link href="./static/css/output.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <div class="container mx-auto p-4">
        <h1 class="text-2xl font-bold text-center mb-4">IoT Dashboard</h1>
        <input id="search" type="text" placeholder="Search..." class="mb-4 p-2 border rounded w-full">
        <div>
            <button><a href="/actuator" id="fetchButton">Activate Actuator</a></button>
        </div>
        <div>
            <button><a href="/logout" id="fetchButton">logout</a></button>
        </div>
        <div id="dashboard" class="space-y-8">
            <!-- Dynamic content will be inserted here -->
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="./static/js/dashboard.js"></script>
</body>
</html>
